[package]
name = "ui"
version = "0.1.0"
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
logger = { path = "../logger" }
eframe = { version = "0.20.1", git = "https://github.com/emilk/egui", default-features = false, features = ["glow"] }
egui = { version = "0.20.1", git = "https://github.com/emilk/egui", default-features = false }
egui_extras = { version = "0.20.0", git = "https://github.com/emilk/egui", features = ["image"] }
emu = { path = "../emu"}
image = { version = "0.24.5", features = ["png"], optional = true}

[features]
debug = ["emu/debug"]
test_bitmap_3 = [ 
    "debug", 
    "emu/mode_3" , 
    "egui_extras/image", 
    "image"
]

test_bitmap_5 = [ 
    "debug", 
    "emu/mode_5" , 
    "egui_extras/image", 
    "image"
]

