name: Rust

on:
  push:
    branches: ["main"]
    paths:
      - "src/**/*"
      - "ui/**/*"
      - "emu/**/*"
      - ".github/workflows/**/*"
  pull_request:
    branches: ["main"]
    paths:
      - "src/**/*"
      - "ui/**/*"
      - "emu/**/*"
      - ".github/workflows/**/*"

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup just
        uses: extractions/setup-just@v3

      - uses: actions/checkout@v5

      - name: Check fmt
        run: cargo fmt -- --check

      - name: Check clippy
        run: just lint

  test:
    needs: [lint]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup just
        uses: extractions/setup-just@v3
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - name: Test
        run: just test
