name: Rust

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/**/*'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'src/**/*'

env:
  CARGO_TERM_COLOR: always

jobs:
  fmt:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Check fmt
      run: cargo fmt --check

  test:
    needs: fmt
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Test
      run: cargo test --verbose
      
  lint:
    needs: [fmt, test]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Lint
      run: cargo clippy -- -D warnings
