name: Rust

on:
  push:
    branches: ["main"]
    paths:
      - "src/**/*"
      - "ui/**/*"
      - "emu/**/*"
      - ".github/workflows/**/*"
  pull_request:
    branches: ["main"]
    paths:
      - "src/**/*"
      - "ui/**/*"
      - "emu/**/*"
      - ".github/workflows/**/*"

env:
  CARGO_TERM_COLOR: always

jobs:
  fmt:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: extractions/setup-just@v1
      - name: Check fmt
        run: just check-fmt

  test:
    needs: [fmt]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: extractions/setup-just@v1
      - uses: dtolnay/rust-toolchain@stable
      - name: Test
        run: just test

  lint:
    needs: [fmt, test]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: extractions/setup-just@v1
      - name: Lint
        run: just lint

  coverage:
    needs: [fmt, test, lint]
    name: coverage
    runs-on: ubuntu-latest
    container:
      image: xd009642/tarpaulin:develop-nightly
      options: --security-opt seccomp=unconfined
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Generate code coverage
        run: |
          cargo +nightly tarpaulin --verbose --all-features --workspace --timeout 120 --out Xml
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v3.1.1
        with:
          fail_ci_if_error: true
